.buttonsContainer {
    margin-bottom: 20px;
}

.responseContainer {
    display: flex;
    align-items: center;
    gap: 40px;
}

.imageContainer {
}

.image {
}

.textContainer {
    max-width: 510px;
}

.code {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}