.item {
    border-bottom: 1px solid #E5E5E5;
    height: 48px;
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 18px;
}

.container {
    width: 606px;
}

.thead {
    height: 36px;
    font-weight: 600;
    line-height: 16px;
    background-color: #E5E5E5;
    -moz-border-radius: 31px;
    -webkit-border-radius: 31px;
    border-radius: 31px;
}

.nameCol {
    padding-left: 17px;
  }

.ageCol {

}