.App {
    --header_height: 60px;
}

.hw {
    display: flex;
    flex-direction: column;

}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    border-bottom: 1px solid #D9D9D9;
    padding: 107px 0 10px 70px;
    margin-bottom: 24px;
}